<div class = "row" style="margin-left: inherit">
  <div class="col-md-2 col-md-offset-10">
    <%= link_to "Add a New Ramen Shop", "/shops/new", "class" => 'btn btn-lg btn-primary' %>
  </div>
</div>

<div class="row">
  <div class = "col-md-8">
    <% Mothership.read.order("name desc").each do |mothership| %>
      <div class = "row">
        <div class="col-md-4">
          <div class="thumbnail">
            <%=link_to image_tag("#{mothership["name"]}.jpg"), "#{mothership["web_url"]}" %>
          </div>
        <div class="caption">
          <h2>
            <%= link_to mothership["name"], "/shops/#{mothership["id"]}" %>
          </h2>
          <p>
            <% origin = Origin.find_by("id" => mothership["origin_id"]) %>
            Origin: <%= origin["origin_name"] %>
          </p>
          <% if ((Mothership.where("name" => mothership["name"]).count)==(Store.where("mothership_id" => mothership["id"]).count)) %>
            <p>Single U.S. Location</p>
          <% else %>
            <p>Multiple U.S. Locations</p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

<div class="col-md-4 well aside">
    <h2>Did You Know...</h2>

    <ul>
      <li>We have <%= Mothership.count %> ramen brands and <%= Store.count %> ramen shops in our database.</li>
      <li>blah blah blah blah blah blah.</li>      <li>blah blah blah blah blah blah.</li>      <li>blah blah blah blah blah blah.</li>      <li>blah blah blah blah blah blah.</li>      <li>blah blah blah blah blah blah.</li>
      <li>blah blah blah blah blah blah.</li>      <li>blah blah blah blah blah blah.</li>
  </div>
</div>



