
<div class="col-md-14">
  <%= link_to "Add a New Ramen Shop", "/shops/new", "class" => 'btn btn-lg btn-primary' %>
<p>
<p>

</div>


<div class="row" style="margin-right: inherit">
  <% Mothership.read.order("id asc").each do |mothership| %>
    <div class = "col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="caption">
          <% if Rails.application.assets.find_asset("#{mothership["name"]}.jpg").nil? %>
            <%=link_to image_tag("cat.jpg") %>
            <% else %>
            <%=link_to image_tag("#{mothership["name"]}.jpg"), "#{mothership["web_url"]}" %>
          <% end %>
          <h2>
            <%= link_to mothership["name"], "/shops/#{mothership["id"]}" %>
          </h2>
          <p>
            <% origin = Origin.find_by("id" => mothership["origin_id"]) %>
            Origin: <%= origin["origin_name"] %>
          </p>
          <% if ((Mothership.where("name" => mothership["name"]).count)==(Store.where("mothership_id" => mothership["id"]).count)) %>
            <p>Single U.S. Location</p>
          <% else %>
            <p>Multiple U.S. Locations</p>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>


</div>




