<div class="page-header">
  <h2>Add a New Ramen Shop!</h2>
</div>

<div class="row">
  <div class="col-md-4">

    <%= form_tag "/", "method" => "post"  %>

      <div class="form-group">
        <%= label_tag "name", "Ramen Shop Name:" %>
        <%= text_field_tag "name", "", "class" => "form-control" %>
      </div>

      <div class="form-group">
        <%= label_tag "chosen_location_id", "Choose Ramen Origin:" %>
        <%= select_tag "chosen_origin_id", options_from_collection_for_select(Origin.read.order("origin_name"), "id","origin_name"), "class" => "form-control" %>
      </div>


      <div class="form-group">
        <%= label_tag "chosen_location_id", "Choose a Location:" %>
        <%= select_tag "chosen_location_id", options_from_collection_for_select(Location.read.order("name"), "id","name"), "class" => "form-control" %>
      </div>

      <div class="form-group">
        <%= label_tag "web_url", "Ramen Shop Website:" %>
        <%= text_field_tag "web_url", "", "class" => "form-control" %>
      </div>

     <div class="form-group">
        <%= label_tag "yelp_url", "Ramen Shop Yelp URL:" %>
        <%= text_field_tag "yelp_url", "", "class" => "form-control" %>
      </div>

      <%= submit_tag "Add Ramem Shop", "class" => "btn btn-lg btn-success" %> or <%= link_to "Cancel", "/" %>

    </form>
</div>
</div>

<hr>
<hr>
