<% location_id = params["id"] %>
<% location = City.read(city_id) %>
<% location.update "page_count" => (movie["page_count"] + 1) %>

<div class="row">

  <div class="col-md-4">
    <%= image_tag(movie["poster_url"]) %>
  </div>

  <div class="col-md-8">
    <h1><%= movie["title"] %>
      <small>Year: <%= movie["year"] %></small>
    </h1>
    <% avg = Review.where("movie_id" => movie["id"]).average(:rating).to_i %>
    <h4>Avg Rating:
      <% avg.times do %>
        &star;
      <% end %>
    </h4>


    <% director = Director.find_by("id" => movie["director_id"]) %>
    <% if director.present? %>
      <h4>Directed by <%= link_to director["name"], "/directors/#{director["id"]}" %></h4>
    <% end %>

    <h3>Cast</h3>

    <% roles = Role.where("movie_id" => movie["id"]) %>

    <ul>
      <% roles.each do |role| %>
        <% actor = Actor.find_by("id" => role["actor_id"]) %>
        <li>
          <%= link_to actor["name"], "/actors/#{actor["id"]}" %>
          as
          <%= role["character"] %>
        </li>
      <% end %>
    </ul>

    <h2>Customer Reviews</h2>

    <% if Review.where("movie_id" => movie["id"]).count == 0 %>
      <p>Be the first to add a review!</p>
    <% end %>

    <%= form_tag "/reviews" do %>

      <%= hidden_field_tag "movie_id", movie["id"] %>

      <div class="form-group">
        <%= label_tag :rating %>
        <%= select_tag :rating, options_for_select(['5 stars','4 stars','3 stars','2 stars','1 star']) %>
        <%= text_area_tag :content, "", "class" => "form-control", "placeholder" => "Say something profound!", "rows" => 4 %>
      </div>

      <%= submit_tag "Add Review", "class" => "btn btn-md btn-primary" %>
    <% end %>

    <% Review.where("movie_id" => movie["id"]).each do |review| %>
      <% the_user = User.find_by("id" => review["user_id"]) %>
      <div class="review row">
        <div class="col-md-3">
          <p class="lead"><%= review.rating %> stars out of 5</p>
          <% if the_user.present? %>
            <p>by <%= the_user["name"] %></p>
          <% end %>
        </div>
        <div class="col-md-9">
          <p class="lead"><%= review.content %></p>
        </div>
      </div>
    <% end %>

  </div>
</div>


