<!DOCTYPE html>
<html>
<head>
  <title>Ramaniacs</title>

  <%= stylesheet_link_tag    "http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" %>

  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <div class="page-header" >
      <div class="row" style="background-color:#FFD700" >
        <div class="col-md-12">
          <h1>Rameniacs</h1>
        </div>
      </div>
        <div class="row">
          <div class="col-md-8" style="margin-left: inherit">
            <ul class = "nav nav-tabs nav-justified">
              <li cass = "active"><%= link_to "Homepage", "/", "class" => "item-link"  %></li>

              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  Ramen by Location <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li cass = "active"><%= link_to "New York", "/" %></li>
                  <li cass = "active"><%= link_to "Chicago", "/" %></li>
                 </ul>
              </li>

              <li cass = "active"><%= link_to "Highest Rated Shops", "/" %></li>
              <li cass = "active"><%= link_to "Our Favorite Dishes", "/" %></li>
            </ul>
          </div>
          <div class="pull-right">
            <% user = User.find_by("id" => cookies["user_id"]) %>
            <% if user.present? %>
              <button type="button" class="btn btn-default navbar-btn">
                <%= user["name"] %>
                <%= link_to "My Profile", "/users/#{user["id"]}" %> |
                <%= link_to "Sign Out", '/logout' %>
                <% else %>
              </button>
                <button type="button" class="btn btn-default navbar-btn">
                <%= link_to "Sign Up", '/users/new' %> |
                <%= link_to "Sign In", '/login' %>
                </button>
            <% end %>
          </div>
        </div>


      <%= yield %>

  </body>
</html>
